@media screen and (max-width: 480px) {

.container {
  max-width: 426px;
  padding-left: 15px;
  padding-right: 15px;
  margin: 0 auto;
  width: 100%;
}

.section-specialists > .container {
    min-width: 294px;
  }

.modal {
 max-width: 392px;
 max-height: 586px;
}

.section-header {
  border-bottom: #FFFFFF;
}

.hero-title {
  font-weight: 700;
  max-width: 428px;
  
  text-align: center;
  letter-spacing: 0.02em;
  text-transform: capitalize;
}



}
