@media screen and (max-width: 480px) {
  
.section-specialists > .container {
    min-width: 294px;
  }

.team-container {
  max-width: 480px;
}
.modal {
 max-width: 392px;
 max-height: 586px;
}

.section-header {
  border-bottom: #FFFFFF;
}

.hero-title {
  color: var(--title-text-color);
  margin: 0 auto;
  padding-top: 0;
  margin-bottom: 72px;
  font-weight: 700;
  max-width: 428px;
  font-size: 36px;
  line-height: 1.1;
  text-align: center;
  letter-spacing: 0.02em;
  text-transform: capitalize;
}



}
